.form-login {
    padding: 0 40px;
    box-sizing: border-box;
}

.title-login {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.form-login .form-login_input {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.form-login_input input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.form-login_input .form-login_label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #baadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.form-login_input .form-login_span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2691d9;
}


.form-login_input input:focus ~ .form-login_label,
.form-login_input input:valid ~ .form-login_label{
    top: -5px;
    color: #2691d9;
}

.form-login_input input:focus ~ .form-login_span::before,
.form-login_input input:valid ~ .form-login_span::before {
    width: 100%;
}

.form-login_btn-submit {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
}

